/* Colour Scheme:
 *
 * boysenberry: #7d2e68
 * bazaar: #9f767a
 * charcoal: #384053
 * pewter blue: #94a8bf
 * raspberry glace: #84616A
*/

body {
  color: #384053;
  background-color: #9f767a;
}

hr {
  border: 1px solid;
}

header, main, footer {
  background-color: #94a8bf;
}

a:link {
  color: #7d2e68;
  text-decoration: none;
}

a:visited {
  color: #84616a;
}

a:hover {
  text-decoration: underline;
}
