/* Colour Scheme:
 *
 * boysenberry: #7d2e68
 * bazaar: #9f767a
 * charcoal: #384053
 * pewter blue: #94a8bf
 * raspberry glace: #84616A
*/

body {
  color: #384053;
  background-color: #9f767a;
  font-family: 'Lato', sans-serif;
}

header, footer {
  background-color: #384053;
  color: #94a8bf;
  padding: 0.5rem 0;
}

footer p {
  width: 80%;
  margin: 0 auto;
}

main {
  box-sizing: border-box;
  padding: 0.5rem;
  width: 80%;
  margin: 0 auto;
  background-color: #94a8bf;
}

h1, h2 {
  font-family: 'Merriweather', serif;
  font-style: oblique;
  font-variant: small-caps;
  border-bottom: medium solid;
}

header h1 {
  text-align: center;
  text-shadow: 2px 2px 2px #8f767a;
  border-bottom: thin solid;
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: inherit;
  line-height: 1.5rem;
  margin: 0;
}

a:link {
  color: #7d2e68;
  text-decoration: none;
}

a:visited {
  color: #84616a;
}

a:hover {
  text-decoration: underline;
}
